<div class="card_header">
    <h2>
        <%= link_to restaurant_path(restaurant.id) do %>
            <%=restaurant.name%>
        <% end %>
    </h2>

        <%= link_to restaurant_path(restaurant.id) do %>
          <span class="link_button details_button">
            <%=image_tag('magnifier.svg', class: "svg") %>
            Details
          </span>
        <%end%>
    <%if restaurant.user_favourite%><div class="user_favourite">User Favourite</div><%end%>



    <%if current_user && current_user.id == restaurant.user_id%>
        <div class="your_restaurant">Your Restaurant</div>
    <%end%>
</div>
<div class="restaurant_short">
    <p class="about"><%= restaurant.summary %></p>

    <p><span class="label">Category:</span><br>
        <%= restaurant.category %>
    </p>
        <p><span class="label">Neighbourhood:</span><br>
        <%= restaurant.neighbourhood %>
    </p>
    <p> <span class="label">Price range:</span><br>
        <% dollar_signs = restaurant.price_range %>
        <% 4.times do |something| %>
            <% if dollar_signs > 0 %>
                <%=image_tag("coin-of-dollar.svg", class:"price-svg")%>
                <% dollar_signs -= 1 %>
            <%else%>
                <%=image_tag("coin-of-dollar-grey.svg", class:"price-svg")%>
            <%end%>
        <%end%>
    </p>
    <%if current_user && current_user.id != restaurant.user_id%>
        <div class="reserve_button">
            <%= link_to new_restaurant_reservation_path(restaurant.id) do %>
                <span class="link_button add_button reservation_button">
                    <%=image_tag('covered-food-tray-on-a-hand-of-hotel-room-service.svg', class: "svg") %>
                    ReserveIt!
                </span>
            <% end %>
        </div>

    <%elsif current_user && current_user.id == restaurant.user_id%>
        <div class="reserve_button">

        <%= link_to edit_restaurant_path(restaurant.id) do %>
            <span class=" edit_restaurant_button">
                <%=image_tag('writing-blue.svg', class: "svg") %>
                Edit Restaurant
            </span>
            </div>
        <%end%>

    <%elsif !current_user%>
        <div class="reserve_button">
            <%=link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %> to reserve
        </div>
    <% end %>
</div>
